<title>Faye Hays</title>
<meta name="description" content="Faye Hays Designer" />

<meta property="og:locale" content="en_US" />
<meta property="og:url" content="https://www.fhays.com" />
<meta property="og:site_name" content="Faye Hays" />

<meta property="og:title" content="Faye Hays" />
<meta property="og:description" content="Faye Hays" />

<meta property="og:image" content="https://www.fhays.com/assets/images/faye-hays-unfurl.jpg">
<meta name="twitter:image" content="https://www.fhays.com/assets/images/faye-hays-unfurl.jpg">

<meta name="twitter:title" content="Faye Hays">
<meta name="twitter:description" content="Faye Hays">
<meta name="twitter:card" content="summary_large_image">
